.exchange {
    .exchange-content {
        width: 100%;
        position: absolute;
        left: 0;
        top: 44px;
        bottom: 49px;
        background: lemonchiffon;
        .search {
            width: 90%;
            display: flex;
            margin: 0 auto;
            border: 1px solid #ccc;
            .ipt {
                width: 100%;
                height: 1.875rem;
                background: #fff;
                border: 0; // 去除未选中状态边框
                outline: none; // 去除选中状态边框
                padding-left: .625rem;
            }
            .iconfont {
                line-height: 1.875rem;
                display: block;
                background: #fff;
                font-size: 20px;
                padding-right: .625rem;
            }
        }
    }
}