.exchange {
    .exchange-content {
        width: 100%;
        position: absolute;
        left: 0;
        top: 44px;
        bottom: 49px;
        background: #fff;
        .search {
            width: 90%;
            display: flex;
            margin: 0 auto;
            border: 1px solid #ccc;
            .ipt {
                width: 100%;
                height: 1.875rem;
                background: #fff;
                border: 0; // 去除未选中状态边框
                outline: none; // 去除选中状态边框
                padding-left: .625rem;
            }
            .iconfont {
                line-height: 1.875rem;
                display: block;
                background: #fff;
                font-size: 20px;
                padding-right: .625rem;
            }
        }
        .banner {
            width: 100%;
            padding-top: .625rem;
            img {
                width: 96%;
                margin: 0 auto;
            }
        }
        .adsbtn {
            display: flex;
            justify-content: center;
            margin-top: 1.25rem;
            li {
                border: solid 1px #ccc;
                background: #fff;
                padding: .1875rem .3125rem;
                border-radius: .125rem;
            }
        }
        .exchange-item {
            width: 100%;
            background: #fff;
            margin-top: 1.25rem;
            .exchange-title {
                border-left: solid .1875rem #FFC95C;
                padding-left: .3125rem;
                font-size: 16px;
                font-weight: 900;
                margin-bottom: .9375rem;
            }
            .exchange-list {
                width: 95%;
                display: flex;
                justify-content: space-between;
                // padding: 0 .625rem;
                border: solid 1px #F4F3F3;
                margin: 0 auto;
                li {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: .625rem;
                    .iconfont {
                        font-size: 32px;
                        color: #F94C66;
                    }
                }
            }
        }
        .change-new {
            width: 96%;
            background: #fff;
            margin: .625rem auto;
            .change-header {
                display: flex;
                justify-content: space-between;
                padding: .625rem 0;
                .exchange-title {
                    border-left: solid .1875rem #FFC95C;
                    padding-left: .3125rem;
                    font-size: 16px;
                    font-weight: 900;
                }
                .exchange-more {
                    font-size: 14px;
                    color: #999999;
                }
            }
            .products-content {
                // background: lightcyan;
                width: 98%;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                .products-item {
                    width: 46%;
                    margin: 10px 6px;
                    border: solid 1px #F4F4F4;
                    text-align: center;
                    position: relative;
                    img {
                        width: 100%;
                        height: 11.25rem;
                        padding-top: 20px;
                    }
                    .products-text {
                        .products-title {
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: 1rem;
                            font-weight: 900;
                            text-align: center;
                        }
                        .products-price {
                            font-size: 14px;
                            color: #999;
                            text-align: center;
                            padding: .3125rem 0;
                            span {
                                color: #F9415D;
                            }
                        }
                    }
                    .enjoy {
                        font-size: 14px;
                        color: #F9415D;
                        padding-bottom: 5px;
                    }
                    .change-newphone {
                        color: white;
                        background: #F9415D;
                        border: solid 1px #F9415D;
                        width: 50%;
                        margin: 0 auto;
                        border-radius: 15px;
                        padding: 2px 0;
                        margin-bottom: 20px;
                    }
                    .products-discount {
                        font-size: 12px;
                        color: white;
                        background: #F9415D;
                        border: solid 1px #F9415D;
                        width: 30%;
                        margin: 0 auto;
                        border-radius: 0 0 0 15px;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
        .service {
            width: 98%;
            // background: lightcyan;
            .service-title {
                width: 100%;
                font-size: 16px;
                text-align: center;
                height: 2.5rem;
                line-height: 2.5rem;
                font-weight: blod;
            }
            .service-list {
                width: 98%;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                .service-item {
                    width: 45%;
                    display: flex;
                    border: solid 1px #F4F4F4;
                    margin: 5px 5px;
                    padding: 20px 0;
                    span {
                        font-size: 30px;
                        color: #F9415D;
                        padding-left: 10px;
                    }
                    .service-text {
                        padding-left: 10px;
                        .title {
                            font-size: .875rem;
                            color: black;
                        }
                        .detail {
                            font-size: .75rem;
                            color: #9B9B9B;
                        }
                    }
                }
            }
        }
    }
}