.highlight-list {
    width: 100%;
    .highlight-item {
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid #ccc;
        display: flex;
        padding: 20px 0;
        &:last-of-type {
            border: none;
        }
        .item-left {
            img {
                width: 3.75rem;
                height: 3.75rem;
                border-radius: 50%;
            }
        }
        .item-text {
            width: 75%;
            margin-left: 1.0625rem;
            p {
                width: 100%;
                font-size: 14px;
                padding-bottom: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            span {
                font-size: 12px;
                color: #666;
            }
        }
    }
}