.swiper-container {
    width: 100%;
    .swiper-wrapper {
        width: 100%;
        .swiper-slide {
            width: 100%;
            .banner-img {
                width: 100%;
            }
        }
    }
    .swiper-pagination-bullet-active {
        background: #fff;
    }
}